// noise effect
.noise {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  pointer-events: none;

  &::before {
    position: absolute;
    display: block;
    opacity: .5;
    content: '';
    top: -100%;
    left: -100%;
    width: 300%;
    height: 300%;
    pointer-events: none;
    will-change: transform;
    background: url('../images/noise.png');
    animation: grain 2s steps(10) infinite;
  }
}

.col {
  float: left;
  position: relative;

  @include media(phone) {
    &.blank {
      width: 25%;
    }
  }

  &--50 {
    width: 47%;

    @include media(phone) {
      width: 100%;

      &.toggle:not(.blank) {
        min-width: 100%;
      }
    }

    @include media(tablet) {
      min-width: 47%;

      &:not(:first-of-type) {
        margin-left: 6% !important;
      }
    }
  }

  &--100 {
    width: 100%;
  }
}

.form {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  transition: top $time;
  overflow: hidden;
  z-index: 1;
  left: 0;
  top: 0;

  p {
    color: $white;
    position: absolute;
    bottom: 5vh;
    left: 5vw;

    @include media(phone) {
      display: none;
    }
  }

  img {
    position: absolute;
    cursor: pointer;
    width: 20px;
    right: 5vw;
    top: 5vh;
  }

  form {
    text-align: center;
    font-family: $light;
    margin: 12.5vh 10vw 0;

    input,
    button,
    textarea {
      border: 0;
      width: 100%;
      outline: none;
      color: $white;
      border-radius: 0;
      font-size: em(26);
      font-family: $light;
      padding-bottom: .5em;
      background: transparent;
      letter-spacing: $spacing;
      border-bottom: 1px solid;


      @include media(phone) {
        font-size: em(16);
      }
    }

    input {
      margin-bottom: 5vh;
    }

    button {
      @include transition($time);
      text-transform: uppercase;
      font-family: $bold;
      width: fit-content;
      margin-top: 7.5vh;
      cursor: pointer;

      &:hover {
        color: $yellow;
      }
    }

    textarea {
      padding-top: 33.5vh;
      overflow: hidden;
      resize: none;
    }
  }
}

.element {
  position: absolute;

  &__saturn {
    animation: jump-saturn 1.8s infinite linear;
    width: 150px;
    left: 60%;
    top: 50%;
  }

  &__uranus {
    animation: jump-uranus 2.2s infinite linear;
    width: 175px;
    left: 40%;
    top: 75%;

    @include media(phone) {
      left: 20%;
    }
  }
}


.paused {
  animation-play-state: paused !important;
}

// content with glitch effect
.article__glitch {
  --gap-horizontal: 10px;
  --glitch-height: 100vh;
  --glitch-width: 100vw;
  --gap-vertical: 5px;
  --delay-anim: 3.5s;
  --time-anim: 4s;
  --blend-mode-1: none;
  --blend-mode-2: none;
  --blend-mode-3: none;
  --blend-mode-4: none;
  --blend-color-1: transparent;
  --blend-color-2: transparent;
  --blend-color-3: transparent;
  --blend-color-4: transparent;

  &--text {
    animation-name: glitch-animation-text;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: var(--time-anim);
    animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2);

    &.delay {
      animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.23);
    }
  }

  &--img {
    width: calc(100% + var(--gap-horizontal) * 0);
    height: calc(100% + var(--gap-vertical) * 0);
    left: calc(-1 * var(--gap-horizontal));
    top: calc(-1 * var(--gap-vertical));
    transform: translate3d(0, 0, 0);
    position: absolute;

    &:nth-child(n + 2) {
      animation-duration: var(--time-anim);
      animation-delay: var(--delay-anim);
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      opacity: 0;
    }

    &:nth-child(2) {
      background-blend-mode: var(--blend-mode-2);
      background-color: var(--blend-color-2);
      animation-name: glitch-animation-1;
    }

    &:nth-child(3) {
      background-blend-mode: var(--blend-mode-3);
      background-color: var(--blend-color-3);
      animation-name: glitch-animation-2;
    }

    &:nth-child(4) {
      background-blend-mode: var(--blend-mode-4);
      background-color: var(--blend-color-4);
      animation-name: glitch-animation-3;
    }

    &.moon {
      background: url('../images/moon.png') no-repeat 50% 0;
      background-blend-mode: var(--blend-mode-1);
      background-color: var(--blend-color-1);
      background-size: cover;
    }

    &.asteroid {
      background: url('../images/asteroid.png') no-repeat 50% 0;
      background-blend-mode: var(--blend-mode-1);
      background-color: var(--blend-color-1);
      background-size: cover;
    }

    &.mars {
      background: url('../images/mars.png') no-repeat 50% 0;
      background-blend-mode: var(--blend-mode-1);
      background-color: var(--blend-color-1);
      background-size: cover;
    }

    &.small-moon {
      background: url('../images/small-moon.png') no-repeat 50% 0;
      background-blend-mode: var(--blend-mode-1);
      background-color: var(--blend-color-1);
      background-size: cover;
    }
  }
}
